{% extends 'blog-list.html' %}
{% load static %}
{% block page_blog_title %}<h1>blog large</h1>{% endblock %}
{% block blog_item %}
    {% for blog in page_obj %}
        <li class="col-md-12">
            <div class="hotmeal-blog-heading">
                <h2>{{ blog.title|truncatechars:60 }}</h2>
                <ul class="hotmeal-blog-option">
                    <li>Date:
                        <time datetime="2008-02-14 20:00">21 Aug 2017</time>
                    </li>
                    <li>Posted By: <a href="404.html">John Doe</a></li>
                    <li>Comments: <a href="404.html">21</a></li>
                </ul>
            </div>
            <figure><a href="{{ blog.get_blog_detail_url }}"><img
                    src="{{ blog.image.url }}"
                    alt=""><span class="hover-btn"><i
                    class="icon hotmeal-link"></i><small></small></span></a></figure>
            <div class="hotmeal-blog-large-text">
                <p>Aenean ultricies iaculis cursus. Mauris enim tellus, finibus in felis a,
                    sollicitudin iaculis dolor. Donec sollicitudin ori id effi citur
                    dapibus.
                    Aliquam tempor sapien sed condimentum fringilla. In magna elit, ultrices
                    a
                    eros sit amet, iaculis he ndrerit tellus. Vivamus dapibus libero porta
                    leo
                    mattis.</p>
                <a href="{{ blog.get_blog_detail_url }}" class="hotmeal-learn-btn">Read More <span
                        class="btn-shape"></span></a>
            </div>
        </li>
    {% endfor %}

{% endblock %}