{% extends 'base/base.html' %}
{% load static %}
{% block contents %}
    <!--// SubHeader \\-->
    <div class="hotmeal-subheader-map">
        <div id="map"></div>
    </div>
    <!--// SubHeader \\-->

    <!--// Main Content \\-->
    <div class="hotmeal-main-content hotmeal-contact-padding">

        <!--// Main Section \\-->
        <div class="hotmeal-main-section hotmeal-contact-full">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="hotmeal-contact-us">
                            <div class="hotmeal-contact-info">
                                <ul>
                                    <li>
                                        <div class="hotmeal-contact-info-wrap">
                                            <i class="icon hotmeal-telephone"></i>
                                            <small></small>
                                            <h5>Call Us At</h5>
                                            <p>(00) 123 45 678</p>
                                            <p>987 65 432</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="hotmeal-contact-info-wrap">
                                            <i class="icon hotmeal-close-envelope"></i>
                                            <small></small>
                                            <h5>Mail Us At</h5>
                                            <a href="mailto:yourdomain@name.com">info@example.com</a>
                                            <a href="mailto:yourdomain@name.com">hotmeal@abc.com</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="hotmeal-contact-info-wrap">
                                            <i class="icon hotmeal-facebook-placeholder-for-locate-places-on-maps"></i>
                                            <small></small>
                                            <h5>Meet Us At</h5>
                                            <p>Fusce pulvinar tortor viverra aliquam semper ras</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="hotmeal-contact-form">
                                <form method="post" class="myform"
                                      action="https://eyecix.com/html/hotmeal/process-form.php">
                                    <ul>
                                        <li>
                                            <input value="Name*" name="name"
                                                   onblur="if(this.value == '') { this.value ='Name*'; }"
                                                   onfocus="if(this.value =='Name*') { this.value = ''; }" tabindex="0"
                                                   type="text">
                                        </li>
                                        <li>
                                            <input value="Phone*" name="phone"
                                                   onblur="if(this.value == '') { this.value ='Phone*'; }"
                                                   onfocus="if(this.value =='Phone*') { this.value = ''; }" tabindex="0"
                                                   type="text">
                                        </li>
                                        <li>
                                            <input value="Email" name="email"
                                                   onblur="if(this.value == '') { this.value ='Email'; }"
                                                   onfocus="if(this.value =='Email') { this.value = ''; }" tabindex="0"
                                                   type="email">
                                        </li>
                                        <li class="full">
                                            <textarea placeholder="Messege*" name="message"></textarea>
                                        </li>
                                        <li class="full">
                                            <label>
                                                <input type="submit" name="submit" value="Send Now">
                                                <small></small>
                                            </label>
                                            <span class="output_message"></span>
                                        </li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--// Main Section \\-->

        <!--// Main Section \\-->
        <div class="hotmeal-main-section hotmeal-partnerfull">
            <div class="container">
                <div class="row">

                    <div class="col-md-12">
                        <div class="hotmeal-fancy-title">
                            <span>Hot Meal</span>
                            <h2>Meet Our Partners</h2>
                            <img src="{% static 'images/fancy-title-img.png' %}" alt="">
                        </div>
                        <div class="hotmeal-partner">
                            <ul>
                                <li><a href="404.html"><img src="{% static 'extra-images/partner-img1.jpg' %}" alt=""></a></li>
                                <li><a href="404.html"><img src="{% static 'extra-images/partner-img2.jpg' %}" alt=""></a></li>
                                <li><a href="404.html"><img src="{% static 'extra-images/partner-img3.jpg' %}" alt=""></a></li>
                                <li><a href="404.html"><img src="{% static 'extra-images/partner-img4.jpg' %}" alt=""></a></li>
                                <li><a href="404.html"><img src="{% static 'extra-images/partner-img3.jpg' %}" alt=""></a></li>
                                <li><a href="404.html"><img src="{% static 'extra-images/partner-img4.jpg' %}" alt=""></a></li>
                                <li><a href="404.html"><img src="{% static 'extra-images/partner-img1.jpg' %}" alt=""></a></li>
                                <li><a href="404.html"><img src="{% static 'extra-images/partner-img2.jpg' %}" alt=""></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--// Main Section \\-->

    </div>
    <!--// Main Content \\-->
{% endblock %}