{% load static %}
<!--// Footer \\-->
<footer id="hotmeal-footer" class="hotmeal-footer-one">
    
{#    <span style="background: url('{% static 'images/footer-back-transparent.png' %}')" class="hotmeal-footer-transparent"></span>#}
    <span  class="hotmeal-footer-transparent"></span>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hotmeal-footer-heading">
                    <a href="index-2.html" class="logo"><img src="{% static 'images/logo.png' %}" alt=""></a>
                    <p>Sed vulputate elementum aliquam. Nunc vel efficitur ante. Ut gravida nulla id ornare soda les.
                        Aenean aliquam mauris purus, eget mollis lectus sagittis sed. Cras varius est vel mcsasvsa
                        ultricies, ac rutrum urna hendrerit.</p>
                </div>
            </div>
        </div>
    </div>

    <!--// Footer Widget \\-->
    <div class="hotmeal-footer-widget">
        <div class="container">
            <div class="row">

                <!--// Widget About Us \\-->
                <aside class="col-md-4 widget widget_latest_post">
                    <h2 class="footer-widget-title">Latest Post</h2>
                    <ul>
                        <li>
                            <h6><a href="blog-detail.html">Fusce pulvinar tortor viverra aliqu</a></h6>
                            <time datetime="2008-02-14 20:00">14 Oct 2017</time>
                        </li>
                        <li>
                            <h6><a href="blog-detail.html">Cras in sapien ultrices, molestie sapien</a></h6>
                            <time datetime="2008-02-14 20:00">28 Nov 2017</time>
                        </li>
                        <li>
                            <h6><a href="blog-detail.html">Aenean ultricies tellus eget sem vive</a></h6>
                            <time datetime="2008-02-14 20:00">03 Dec 2017</time>
                        </li>
                    </ul>
                </aside>
                <!--// Widget About Us \\-->

                <!--// Widget Links \\-->
                <aside class="col-md-4 widget widget_links">
                    <h2 class="footer-widget-title">Useful Links</h2>
                    <ul>
                        <li><a href="404.html">History</a></li>
                        <li><a href="404.html">Services</a></li>
                        <li><a href="404.html">Team & Awards</a></li>
                        <li><a href="404.html">Delivery Methods</a></li>
                        <li><a href="404.html">Community</a></li>
                        <li><a href="404.html">Safety</a></li>
                        <li><a href="404.html">News & Events</a></li>
                        <li><a href="404.html">Sustainability</a></li>
                        <li><a href="404.html">FAQ</a></li>
                        <li><a href="404.html">Portfolio</a></li>
                        <li><a href="404.html">News & Events</a></li>
                        <li><a href="404.html">Safety</a></li>
                    </ul>
                </aside>
                <!--// Widget Links \\-->

                <!--// Widget Our Newsletter \\-->
                <aside class="col-md-4 widget widget_newsletter">
                    <h2 class="footer-widget-title">Our Newsletter</h2>
                    <p>Etiam auctor dignissim bibendum. Nunc pulvinar massa nunc, quis pellentesque.</p>
                    <form>
                        <ul>
                            <li><input type="text" value="Name*" onblur="if(this.value == '') { this.value ='Name*'; }"
                                       onfocus="if(this.value =='Name*') { this.value = ''; }"></li>
                            <li><input type="email" value="Email*"
                                       onblur="if(this.value == '') { this.value ='Email*'; }"
                                       onfocus="if(this.value =='Email*') { this.value = ''; }"></li>
                            <li><label class="submit"><input type="submit" value="Subscribe Now"><span></span></label>
                            </li>
                        </ul>
                    </form>
                </aside>
                <!--// Widget Our Newsletter \\-->

            </div>
        </div>
    </div>
    <!--// Footer Widget \\-->

    <!--// CopyRight \\-->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hotmeal-copyright">
                    <p><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></p>
                </div>
            </div>
        </div>
    </div>
    <!--// CopyRight \\-->

</footer>
<!--// Footer \\-->

<div class="clearfix"></div>

</div>
<!--// Main Wrapper \\-->

<!-- Modal -->
<div class="modal fade searchmodal" id="searchmodal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-body">
            <a href="#" class="hotmeal-close-btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
            <form>
                <input type="text" value="Type Your Keyword"
                       onblur="if(this.value == '') { this.value ='Type Your Keyword'; }"
                       onfocus="if(this.value =='Type Your Keyword') { this.value = ''; }">
                <input type="submit" value="">
                <i class="fa fa-search"></i>
            </form>
        </div>
    </div>
</div>

<!-- jQuery (necessary for JavaScript plugins) -->
<script type="text/javascript" src="{% static 'script/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'script/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'script/slick.slider.min.js' %}"></script>
<script type="text/javascript" src="{% static 'script/fancybox.pack.js' %}"></script>
<script type="text/javascript" src="{% static 'script/isotope.min.js' %}"></script>
<script type="text/javascript" src="{% static 'script/progressbar.js' %}"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
<script type="text/javascript" src="{% static 'script/functions.js' %}"></script>

</body>

</html>