{% load static %}
<!--// Footer \\-->
<footer id="hotmeal-footer" class="hotmeal-footer-one">
    
{#    <span style="background: url('{% static 'images/footer-back-transparent.png' %}')" class="hotmeal-footer-transparent"></span>#}
    <span  class="hotmeal-footer-transparent"></span>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hotmeal-footer-heading">
                    <a href="/" class="logo"><img src="{{ setting.logo.url }}" alt=""></a>
                    <p>{{ setting.footer_text }}</p>
                </div>
            </div>
        </div>
    </div>

    <!--// Footer Widget \\-->
    <div class="hotmeal-footer-widget">
        <div class="container">
            <div class="row">

                <!--// Widget About Us \\-->
                <aside class="col-md-4 widget widget_latest_post">
                    <h2 class="footer-widget-title">Latest Post</h2>
                    <ul>
                        {% for latest_blogs in latest_blogs %}
                        <li>
                            <h6><a href="{{ latest_blogs.get_blog_detail_url }}">{{ latest_blogs.title }}</a></h6>
                            <time datetime="2008-02-14 20:00">{{ latest_blogs.time|date:"m F Y" }}</time>
                        </li>
                        {% endfor %}
                    </ul>
                </aside>
                <!--// Widget About Us \\-->

                <!--// Widget Links \\-->
                <aside class="col-md-4 widget widget_links">
                    <h2 class="footer-widget-title">Useful Links</h2>
                    <ul>
                        <li><a href="{% url 'about_us' %}">History</a></li>
                        <li><a href="{% url 'menu:menu_page' %}">Services</a></li>
                        <li><a href="{% url 'team:team_list' %}">Team & A</a></li>
                        <li><a href="404.html">Delivery Methods</a></li>
                        <li><a href="{% url 'team:team_list' %}">Community</a></li>
                        <li><a href="">Safety</a></li>
                        <li><a href="{% url 'blog:blog_list1' %}">News & Events</a></li>
                        <li>Sustainability</li>
                        <li><a href="{% url 'contact:contact_us' %}">FAQ</a></li>
                        <li><a href="{% url 'profile:account_main_page' %}">Portfolio</a></li>
                        <li><a href="{% url 'blog:blog_list2' %}">News & Events</a></li>
                        <li><a href="">Safety</a></li>
                    </ul>
                </aside>
                <!--// Widget Links \\-->

                <!--// Widget Our Newsletter \\-->
                <aside class="col-md-4 widget widget_newsletter">
                    <h2 class="footer-widget-title">Our Newsletter</h2>
                    <p>Etiam auctor dignissim bibendum. Nunc pulvinar massa nunc, quis pellentesque.</p>
                    <form action="{% url 'profile:register_page' %}" method="post">
                        {% csrf_token %}
                        <ul>
                            <li><input name="first_name" type="text" value="Name*" onblur="if(this.value == '') { this.value ='Name*'; }"
                                       onfocus="if(this.value =='Name*') { this.value = ''; }"></li>
                            <li><input name="email" type="email" value="Email*"
                                       onblur="if(this.value == '') { this.value ='Email*'; }"
                                       onfocus="if(this.value =='Email*') { this.value = ''; }"></li>
                            <li><label class="submit"><input type="submit" value="Subscribe Now"><span></span></label>
                            </li>
                        </ul>
                    </form>
                </aside>
                <!--// Widget Our Newsletter \\-->

            </div>
        </div>
    </div>
    <!--// Footer Widget \\-->

    <!--// CopyRight \\-->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hotmeal-copyright">
                    <p><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></p>
                </div>
            </div>
        </div>
    </div>
    <!--// CopyRight \\-->

</footer>
<!--// Footer \\-->

<div class="clearfix"></div>

</div>
<!--// Main Wrapper \\-->

<!-- Modal -->
<div class="modal fade searchmodal" id="searchmodal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-body">
            <a href="#" class="hotmeal-close-btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
            <form id="mob-search" name="search" action="{% url 'product:product_search' %}" method="get">
                <input type="text" name="q" placeholder="Search ..." value="{{ request.GET.q }}"
                       onblur="if(this.value == '') { this.value ='Type Your Keyword'; }"
                       onfocus="if(this.value =='Type Your Keyword') { this.value = ''; }">
                <button type="submit" ></button>
                <i class="fa fa-search"></i>
            </form>
        </div>
    </div>
</div>

<!-- jQuery (necessary for JavaScript plugins) -->
<script type="text/javascript" src="{% static 'script/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'script/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'script/slick.slider.min.js' %}"></script>
<script type="text/javascript" src="{% static 'script/fancybox.pack.js' %}"></script>
<script type="text/javascript" src="{% static 'script/isotope.min.js' %}"></script>
<script type="text/javascript" src="{% static 'script/progressbar.js' %}"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
<script type="text/javascript" src="{% static 'script/functions.js' %}"></script>

</body>

</html>