{% extends 'product_list.html' %}
{% block page_product_title %}<h1>Shop gird</h1>{% endblock %}
{% block product_item %}
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <div class="hotmeal-shop hotmeal-shop-grid">
                <ul class="row">
                    {% for product in page_obj %}
                        <li class="col-md-4">
                            <figure><span>sale</span><a href="{{ product.get_product_detail_url }}"><img
                                    src="{{ product.image.url }}" alt=""></a>
                                <figcaption>
                                    <a href="shop-detail.html"><i class="icon hotmeal-link"></i> <span
                                            class="btn-shape"></span></a>
                                    <a href="shop-detail.html"><i class="fa fa-shopping-bag"></i> <span
                                            class="btn-shape"></span></a>
                                </figcaption>
                            </figure>
                            <div class="hotmeal-shop-grid-text">
                                <h2><a href="{{ product.get_product_detail_url }}">{{ product.title }}</a></h2>
                                <div class="star-rating"><span class="star-rating-box" style="width:60%"></span></div>
                                <small>( 2 Reviews )</small>
                                <span>$ 25.00 <del>$ 30.00</del></span>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
{% endblock %}