{% extends 'base/base.html' %}
{% block contents %}
    {% load static %}

    <!--// SubHeader \\-->
    <div class="hotmeal-subheader">
        <span class="hotmeal-subheader-transparent"></span>
        <div class="hotmeal-subheader-text">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <span>Shop</span>
                        <h1>Shop List</h1>
                        <p>Sed vulputate elementum aliquam. Nunc vel efficitur ante. Ut gravida nulla id ornare
                            sodales.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="hotmeal-breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul>
                            <li><a href="index-2.html">Homepage</a></li>
                            <li class="active">Shop List W/L/Sidebar</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// SubHeader \\-->

    <!--// Main Content \\-->
    <div class="hotmeal-main-content">

        <!--// Main Section \\-->
        <div class="hotmeal-main-section">
            <div class="container">
                <div class="row">

                    <!--// Sidebar \\-->
                    <aside class="col-md-3">

                        <!--// Widget Search \\-->
                        <div class="widget widget_search">
                            <form>
                                <input value="Search Now" onblur="if(this.value == '') { this.value ='Search Now'; }"
                                       onfocus="if(this.value =='Search Now') { this.value = ''; }" tabindex="0"
                                       type="text">
                                <label><input type="submit" value=""></label>
                            </form>
                        </div>
                        <!--// Widget Search \\-->

                        <!--// Widget Popular Post \\-->
                        <div class="widget widget_popular_post">
                            <h2 class="widget-heading">Popular Post</h2>
                            <ul>
                                <li>
                                    <h6><a href="blog0-detail.html">Sed vulputate elementum al iquam unc vel</a></h6>
                                    <time datetime="2008-02-14 20:00">21 August 2017</time>
                                </li>
                                <li>
                                    <h6><a href="blog0-detail.html">Ut gravida nulla id ornare so dales. Aenean
                                        aliqu</a></h6>
                                    <time datetime="2008-02-14 20:00">31 December 2017</time>
                                </li>
                                <li>
                                    <h6><a href="blog0-detail.html">Cras varius est vel massa ultr ic ies, ac rutrum
                                        urn</a></h6>
                                    <time datetime="2008-02-14 20:00">26 June 2018</time>
                                </li>
                                <li>
                                    <h6><a href="blog0-detail.html">Donec eu porta velit. Nam at urna eu libero
                                        suscip</a></h6>
                                    <time datetime="2008-02-14 20:00">22 May 2018</time>
                                </li>
                            </ul>
                        </div>
                        <!--// Widget Popular Post \\-->

                        <!--// Widget Cetagories \\-->
                        <div class="widget widget_cetagories">
                            <h2 class="widget-heading">Cetagories</h2>
                            <ul>
                                <li><a href="404.html">Gallery <span>(12)</span></a></li>
                                <li><a href="404.html">Restaurant <span>(09)</span></a></li>
                                <li><a href="404.html">Food <span>(17)</span></a></li>
                                <li><a href="404.html">Pizza <span>(08)</span></a></li>
                                <li><a href="404.html">Burger <span>(05)</span></a></li>
                                <li><a href="404.html">Dessert <span>(05)</span></a></li>
                            </ul>
                        </div>
                        <!--// Widget Cetagories \\-->

                        <!--// Widget Best Deals \\-->
                        <div class="widget widget_deals">
                            <h2 class="widget-heading">Best Deals</h2>
                            <ul>
                                <li>
                                    <figure><a href="menu.html"><img
                                            src="{% static 'extra-images/widget-deal-img1.jpg' %}" alt=""></a>
                                    </figure>
                                    <div class="widget-deals-text">
                                        <h6><a href="menu.html">Large Fajita Pizza</a></h6>
                                        <span>$ 150.00</span>
                                    </div>
                                </li>
                                <li>
                                    <figure><a href="menu.html"><img
                                            src="{% static 'extra-images/widget-deal-img2.jpg' %}" alt=""></a>
                                    </figure>
                                    <div class="widget-deals-text">
                                        <h6><a href="menu.html">Fresh Tomato Juice</a></h6>
                                        <span>$ 75.00</span>
                                    </div>
                                </li>
                                <li>
                                    <figure><a href="menu.html"><img
                                            src="{% static 'extra-images/widget-deal-img3.jpg' %}" alt=""></a>
                                    </figure>
                                    <div class="widget-deals-text">
                                        <h6><a href="menu.html">Chicken Burger</a></h6>
                                        <span>$ 150.00</span>
                                    </div>
                                </li>
                                <li>
                                    <figure><a href="menu.html"><img
                                            src="{% static 'extra-images/widget-deal-img4.jpg' %}" alt=""></a>
                                    </figure>
                                    <div class="widget-deals-text">
                                        <h6><a href="menu.html">Chocolate dessert</a></h6>
                                        <span>$ 200.00</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!--// Widget Best Deals \\-->

                        <!--// Widget Calendar Archives \\-->
                        <div class="widget widget_cetagories">
                            <h2 class="widget-heading">Calendar Archives</h2>
                            <ul>
                                <li><a href="404.html">December <span>(12)</span></a></li>
                                <li><a href="404.html">January <span>(09)</span></a></li>
                                <li><a href="404.html">March <span>(17)</span></a></li>
                                <li><a href="404.html">May <span>(08)</span></a></li>
                                <li><a href="404.html">August <span>(05)</span></a></li>
                                <li><a href="404.html">September <span>(05)</span></a></li>
                            </ul>
                        </div>
                        <!--// Widget Calendar Archives \\-->

                    </aside>
                    <!--// Sidebar \\-->

                    <div class="col-md-9">
                        <div class="hotmeal-shop-filter">
                            <span>Showing 1-6 of 30 Results</span>
                            <!-- Nav tabs -->
                            <ul class="nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab"
                                                                          data-toggle="tab"><i
                                        class="icon hotmeal-signs22"></i> <span>List</span></a></li>
                                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab"
                                                           data-toggle="tab"><i class="icon hotmeal-squares2"></i>
                                    <span>Grid</span></a></li>
                            </ul>
                            <!-- Tab panes -->
                            <form>
                                <div class="hotmeal-filter-select">
                                    <select>
                                        <option value="Default Sorting">Default Sorting</option>
                                        <option value="Default Sorting">Default Sorting</option>
                                        <option value="Default Sorting">Default Sorting</option>
                                        <option value="Default Sorting">Default Sorting</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="home">
                                <div class="hotmeal-shop hotmeal-shop-list">
                                    <ul class="row">
                                        {% for product in page_obj %}
                                            <li class="col-md-12">
                                                <figure><a href="{{ product.get_product_detail_url }}"><img
                                                        src="{{ product.image.url }}"
                                                        alt=""><span
                                                        class="hover-btn"><i
                                                        class="icon hotmeal-link"></i><small></small></span></a>
                                                </figure>
                                                <div class="hotmeal-shop-list-text">
                                                    <h2><a href="{{ product.get_product_detail_url }}">{{ product.title }}</a></h2>
                                                    <div class="star-rating"><span class="star-rating-box"
                                                                                   style="width:60%"></span></div>
                                                    <small>( 2 Reviews )</small>
                                                    {% if product.discount.percentage > 0 %}
                                                    <span> $ {{ product.price2 }}<del> $ {{ product.price }}</del></span>
                                                    {% else %}
                                                        <span> $ {{ product.price }}</span>
                                                    {% endif %}
                                                    <p>{{ product.description|truncatechars:250 }}</p>
                                                    <a href="blog-detail.html" class="hotmeal-learn-btn">Add To Cart
                                                        <span
                                                                class="btn-shape"></span></a>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <!--// Pagination \\-->
                                <div class="hotmeal-pagination">
                                    <ul class="page-numbers">
                                        <li><a class="previous page-numbers" href="404.html"><span aria-label="Next"><i
                                                class="fa fa-angle-left"></i></span> <small
                                                class="btn-shape"></small></a></li>
                                        <li><span class="page-numbers current">01 <small
                                                class="btn-shape"></small></span></li>
                                        <li><a class="page-numbers" href="404.html">02 <small class="btn-shape"></small></a>
                                        </li>
                                        <li><a class="page-numbers" href="404.html">03 <small class="btn-shape"></small></a>
                                        </li>
                                        <li><a class="page-numbers" href="404.html">04 <small class="btn-shape"></small></a>
                                        </li>
                                        <li><a class="next page-numbers" href="404.html"><span aria-label="Next"><i
                                                class="fa fa-angle-right"></i></span> <small class="btn-shape"></small></a>
                                        </li>
                                    </ul>
                                </div>
                                <!--// Pagination \\-->
                            </div>
                            <div role="tabpanel" class="tab-pane" id="profile">
                                <div class="hotmeal-shop hotmeal-shop-grid">
                                    <ul class="row">
                                        <li class="col-md-4">
                                            <figure><span>sale</span><a href="shop-detail.html"><img
                                                    src="{% static 'extra-images/shop-grid-img1.jpg' %}" alt=""></a>
                                                <figcaption>
                                                    <a href="shop-detail.html"><i class="icon hotmeal-link"></i> <span
                                                            class="btn-shape"></span></a>
                                                    <a href="shop-detail.html"><i class="fa fa-shopping-bag"></i> <span
                                                            class="btn-shape"></span></a>
                                                </figcaption>
                                            </figure>
                                            <div class="hotmeal-shop-grid-text">
                                                <h2><a href="shop-detail.html">Brown Drink Glass</a></h2>
                                                <div class="star-rating"><span class="star-rating-box"
                                                                               style="width:60%"></span></div>
                                                <small>( 2 Reviews )</small>
                                                <span>$ 25.00 <del>$ 30.00</del></span>
                                            </div>
                                        </li>
                                        <li class="col-md-4">
                                            <figure><span>sale</span><a href="shop-detail.html"><img
                                                    src="{% static 'extra-images/shop-grid-img2.jpg' %}" alt=""></a>
                                                <figcaption>
                                                    <a href="shop-detail.html"><i class="icon hotmeal-link"></i> <span
                                                            class="btn-shape"></span></a>
                                                    <a href="shop-detail.html"><i class="fa fa-shopping-bag"></i> <span
                                                            class="btn-shape"></span></a>
                                                </figcaption>
                                            </figure>
                                            <div class="hotmeal-shop-grid-text">
                                                <h2><a href="shop-detail.html">Chocolate Cupcake</a></h2>
                                                <div class="star-rating"><span class="star-rating-box"
                                                                               style="width:60%"></span></div>
                                                <small>( 2 Reviews )</small>
                                                <span>$ 25.00 <del>$ 30.00</del></span>
                                            </div>
                                        </li>
                                        <li class="col-md-4">
                                            <figure><span>sale</span><a href="shop-detail.html"><img
                                                    src="{% static 'extra-images/shop-grid-img3.jpg' %}" alt=""></a>
                                                <figcaption>
                                                    <a href="shop-detail.html"><i class="icon hotmeal-link"></i> <span
                                                            class="btn-shape"></span></a>
                                                    <a href="shop-detail.html"><i class="fa fa-shopping-bag"></i> <span
                                                            class="btn-shape"></span></a>
                                                </figcaption>
                                            </figure>
                                            <div class="hotmeal-shop-grid-text">
                                                <h2><a href="shop-detail.html">Cookie Cocoa Homemade</a></h2>
                                                <div class="star-rating"><span class="star-rating-box"
                                                                               style="width:60%"></span></div>
                                                <small>( 2 Reviews )</small>
                                                <span>$ 25.00 <del>$ 30.00</del></span>
                                            </div>
                                        </li>
                                        <li class="col-md-4">
                                            <figure><span>sale</span><a href="shop-detail.html"><img
                                                    src="{% static 'extra-images/shop-grid-img4.jpg' %}" alt=""></a>
                                                <figcaption>
                                                    <a href="shop-detail.html"><i class="icon hotmeal-link"></i> <span
                                                            class="btn-shape"></span></a>
                                                    <a href="shop-detail.html"><i class="fa fa-shopping-bag"></i> <span
                                                            class="btn-shape"></span></a>
                                                </figcaption>
                                            </figure>
                                            <div class="hotmeal-shop-grid-text">
                                                <h2><a href="shop-detail.html">Chocolate Soft Cake</a></h2>
                                                <div class="star-rating"><span class="star-rating-box"
                                                                               style="width:60%"></span></div>
                                                <small>( 2 Reviews )</small>
                                                <span>$ 25.00 <del>$ 30.00</del></span>
                                            </div>
                                        </li>
                                        <li class="col-md-4">
                                            <figure><span>sale</span><a href="shop-detail.html"><img
                                                    src="{% static 'extra-images/shop-grid-img5.jpg' %}" alt=""></a>
                                                <figcaption>
                                                    <a href="shop-detail.html"><i class="icon hotmeal-link"></i> <span
                                                            class="btn-shape"></span></a>
                                                    <a href="shop-detail.html"><i class="fa fa-shopping-bag"></i> <span
                                                            class="btn-shape"></span></a>
                                                </figcaption>
                                            </figure>
                                            <div class="hotmeal-shop-grid-text">
                                                <h2><a href="shop-detail.html">Delicious Cake With Cherry </a></h2>
                                                <div class="star-rating"><span class="star-rating-box"
                                                                               style="width:60%"></span></div>
                                                <small>( 2 Reviews )</small>
                                                <span>$ 25.00 <del>$ 30.00</del></span>
                                            </div>
                                        </li>
                                        <li class="col-md-4">
                                            <figure><span>sale</span><a href="shop-detail.html"><img
                                                    src="{% static 'extra-images/shop-grid-img6.jpg' %}" alt=""></a>
                                                <figcaption>
                                                    <a href="shop-detail.html"><i class="icon hotmeal-link"></i> <span
                                                            class="btn-shape"></span></a>
                                                    <a href="shop-detail.html"><i class="fa fa-shopping-bag"></i> <span
                                                            class="btn-shape"></span></a>
                                                </figcaption>
                                            </figure>
                                            <div class="hotmeal-shop-grid-text">
                                                <h2><a href="shop-detail.html">Fresh Mango Smoothie</a></h2>
                                                <div class="star-rating"><span class="star-rating-box"
                                                                               style="width:60%"></span></div>
                                                <small>( 2 Reviews )</small>
                                                <span>$ 25.00 <del>$ 30.00</del></span>
                                            </div>
                                        </li>
                                        <li class="col-md-4">
                                            <figure><span>sale</span><a href="shop-detail.html"><img
                                                    src="{% static 'extra-images/shop-grid-img7.jpg' %}" alt=""></a>
                                                <figcaption>
                                                    <a href="shop-detail.html"><i class="icon hotmeal-link"></i> <span
                                                            class="btn-shape"></span></a>
                                                    <a href="shop-detail.html"><i class="fa fa-shopping-bag"></i> <span
                                                            class="btn-shape"></span></a>
                                                </figcaption>
                                            </figure>
                                            <div class="hotmeal-shop-grid-text">
                                                <h2><a href="shop-detail.html">Chocolate Almond Cake</a></h2>
                                                <div class="star-rating"><span class="star-rating-box"
                                                                               style="width:60%"></span></div>
                                                <small>( 2 Reviews )</small>
                                                <span>$ 25.00 <del>$ 30.00</del></span>
                                            </div>
                                        </li>
                                        <li class="col-md-4">
                                            <figure><span>sale</span><a href="shop-detail.html"><img
                                                    src="{% static 'extra-images/shop-grid-img8.jpg' %}" alt=""></a>
                                                <figcaption>
                                                    <a href="shop-detail.html"><i class="icon hotmeal-link"></i> <span
                                                            class="btn-shape"></span></a>
                                                    <a href="shop-detail.html"><i class="fa fa-shopping-bag"></i> <span
                                                            class="btn-shape"></span></a>
                                                </figcaption>
                                            </figure>
                                            <div class="hotmeal-shop-grid-text">
                                                <h2><a href="shop-detail.html">Mixed Berries Yougurt</a></h2>
                                                <div class="star-rating"><span class="star-rating-box"
                                                                               style="width:60%"></span></div>
                                                <small>( 2 Reviews )</small>
                                                <span>$ 25.00 <del>$ 30.00</del></span>
                                            </div>
                                        </li>
                                        <li class="col-md-4">
                                            <figure><span>sale</span><a href="shop-detail.html"><img
                                                    src="{% static 'extra-images/shop-grid-img9.jpg' %}" alt=""></a>
                                                <figcaption>
                                                    <a href="shop-detail.html"><i class="icon hotmeal-link"></i> <span
                                                            class="btn-shape"></span></a>
                                                    <a href="shop-detail.html"><i class="fa fa-shopping-bag"></i> <span
                                                            class="btn-shape"></span></a>
                                                </figcaption>
                                            </figure>
                                            <div class="hotmeal-shop-grid-text">
                                                <h2><a href="shop-detail.html">Pack Of Oat Cookies</a></h2>
                                                <div class="star-rating"><span class="star-rating-box"
                                                                               style="width:60%"></span></div>
                                                <small>( 2 Reviews )</small>
                                                <span>$ 25.00 <del>$ 30.00</del></span>
                                            </div>
                                        </li>
                                        <li class="col-md-4">
                                            <figure><span>sale</span><a href="shop-detail.html"><img
                                                    src="{% static 'extra-images/shop-grid-img10.jpg' %}" alt=""></a>
                                                <figcaption>
                                                    <a href="shop-detail.html"><i class="icon hotmeal-link"></i> <span
                                                            class="btn-shape"></span></a>
                                                    <a href="shop-detail.html"><i class="fa fa-shopping-bag"></i> <span
                                                            class="btn-shape"></span></a>
                                                </figcaption>
                                            </figure>
                                            <div class="hotmeal-shop-grid-text">
                                                <h2><a href="shop-detail.html">Milky Chocolates</a></h2>
                                                <div class="star-rating"><span class="star-rating-box"
                                                                               style="width:60%"></span></div>
                                                <small>( 2 Reviews )</small>
                                                <span>$ 25.00 <del>$ 30.00</del></span>
                                            </div>
                                        </li>
                                        <li class="col-md-4">
                                            <figure><span>sale</span><a href="shop-detail.html"><img
                                                    src="{% static 'extra-images/shop-grid-img11.jpg' %}" alt=""></a>
                                                <figcaption>
                                                    <a href="shop-detail.html"><i class="icon hotmeal-link"></i> <span
                                                            class="btn-shape"></span></a>
                                                    <a href="shop-detail.html"><i class="fa fa-shopping-bag"></i> <span
                                                            class="btn-shape"></span></a>
                                                </figcaption>
                                            </figure>
                                            <div class="hotmeal-shop-grid-text">
                                                <h2><a href="shop-detail.html">Pack Of Butter Cookies</a></h2>
                                                <div class="star-rating"><span class="star-rating-box"
                                                                               style="width:60%"></span></div>
                                                <small>( 2 Reviews )</small>
                                                <span>$ 25.00 <del>$ 30.00</del></span>
                                            </div>
                                        </li>
                                        <li class="col-md-4">
                                            <figure><span>sale</span><a href="shop-detail.html"><img
                                                    src="{% static 'extra-images/shop-grid-img12.jpg' %}" alt=""></a>
                                                <figcaption>
                                                    <a href="shop-detail.html"><i class="icon hotmeal-link"></i> <span
                                                            class="btn-shape"></span></a>
                                                    <a href="shop-detail.html"><i class="fa fa-shopping-bag"></i> <span
                                                            class="btn-shape"></span></a>
                                                </figcaption>
                                            </figure>
                                            <div class="hotmeal-shop-grid-text">
                                                <h2><a href="shop-detail.html">Milk Chocolate Balls</a></h2>
                                                <div class="star-rating"><span class="star-rating-box"
                                                                               style="width:60%"></span></div>
                                                <small>( 2 Reviews )</small>
                                                <span>$ 25.00 <del>$ 30.00</del></span>
                                            </div>
                                        </li>
                                        <li class="col-md-4">
                                            <figure><span>sale</span><a href="shop-detail.html"><img
                                                    src="{% static 'extra-images/shop-grid-img1.jpg' %}" alt=""></a>
                                                <figcaption>
                                                    <a href="shop-detail.html"><i class="icon hotmeal-link"></i> <span
                                                            class="btn-shape"></span></a>
                                                    <a href="shop-detail.html"><i class="fa fa-shopping-bag"></i> <span
                                                            class="btn-shape"></span></a>
                                                </figcaption>
                                            </figure>
                                            <div class="hotmeal-shop-grid-text">
                                                <h2><a href="shop-detail.html">Brown Drink Glass</a></h2>
                                                <div class="star-rating"><span class="star-rating-box"
                                                                               style="width:60%"></span></div>
                                                <small>( 2 Reviews )</small>
                                                <span>$ 25.00 <del>$ 30.00</del></span>
                                            </div>
                                        </li>
                                        <li class="col-md-4">
                                            <figure><span>sale</span><a href="shop-detail.html"><img
                                                    src="{% static 'extra-images/shop-grid-img2.jpg' %}" alt=""></a>
                                                <figcaption>
                                                    <a href="shop-detail.html"><i class="icon hotmeal-link"></i> <span
                                                            class="btn-shape"></span></a>
                                                    <a href="shop-detail.html"><i class="fa fa-shopping-bag"></i> <span
                                                            class="btn-shape"></span></a>
                                                </figcaption>
                                            </figure>
                                            <div class="hotmeal-shop-grid-text">
                                                <h2><a href="shop-detail.html">Chocolate Cupcake</a></h2>
                                                <div class="star-rating"><span class="star-rating-box"
                                                                               style="width:60%"></span></div>
                                                <small>( 2 Reviews )</small>
                                                <span>$ 25.00 <del>$ 30.00</del></span>
                                            </div>
                                        </li>
                                        <li class="col-md-4">
                                            <figure><span>sale</span><a href="shop-detail.html"><img
                                                    src="{% static 'extra-images/shop-grid-img3.jpg' %}" alt=""></a>
                                                <figcaption>
                                                    <a href="shop-detail.html"><i class="icon hotmeal-link"></i> <span
                                                            class="btn-shape"></span></a>
                                                    <a href="shop-detail.html"><i class="fa fa-shopping-bag"></i> <span
                                                            class="btn-shape"></span></a>
                                                </figcaption>
                                            </figure>
                                            <div class="hotmeal-shop-grid-text">
                                                <h2><a href="shop-detail.html">Cookie Cocoa Homemade</a></h2>
                                                <div class="star-rating"><span class="star-rating-box"
                                                                               style="width:60%"></span></div>
                                                <small>( 2 Reviews )</small>
                                                <span>$ 25.00 <del>$ 30.00</del></span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <!--// Pagination \\-->
                                <div class="hotmeal-pagination">
                                    <ul class="page-numbers">
                                        <li><a class="previous page-numbers" href="404.html"><span aria-label="Next"><i
                                                class="fa fa-angle-left"></i></span> <small
                                                class="btn-shape"></small></a></li>
                                        <li><span class="page-numbers current">01 <small
                                                class="btn-shape"></small></span></li>
                                        <li><a class="page-numbers" href="404.html">02 <small class="btn-shape"></small></a>
                                        </li>
                                        <li><a class="page-numbers" href="404.html">03 <small class="btn-shape"></small></a>
                                        </li>
                                        <li><a class="page-numbers" href="404.html">04 <small class="btn-shape"></small></a>
                                        </li>
                                        <li><a class="next page-numbers" href="404.html"><span aria-label="Next"><i
                                                class="fa fa-angle-right"></i></span> <small class="btn-shape"></small></a>
                                        </li>
                                    </ul>
                                </div>
                                <!--// Pagination \\-->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--// Main Section \\-->

    </div>
    <!--// Main Content \\-->

{% endblock %}