{% extends 'base/base.html' %}
{% block contents %}
    {% load static %}

    <!--// SubHeader \\-->
    <div class="hotmeal-subheader">
        <span class="hotmeal-subheader-transparent"></span>
        <div class="hotmeal-subheader-text">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <span>account</span>
                        <h1>account</h1>
                        <p>Sed vulputate elementum aliquam. Nunc vel efficitur ante. Ut gravida nulla id ornare
                            sodales.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="hotmeal-breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul>
                            <li><a href="index-2.html">Homepage</a></li>
                            <li class="active">account</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// SubHeader \\-->

    <!--// Main Content \\-->
    <div class="hotmeal-main-content">

        <!--// Main Section \\-->
        <div class="hotmeal-main-section hotmeal-breakfastfull">
            <div class="container">
                <div class="row">

                    <div class="col-md-12">
                        <div class="hotmeal-fancy-title">
                            <span>account</span>
                            <h2>account</h2>
                            <img src="{% static 'images/fancy-title-img.png' %}" alt="">
                        </div>
                        <div class="hotmeal-menu hotmeal-menu-list hotmeal-menu-filter hotmeal-breakfast-manu">
                            <ul class="row">
                                <li class="col-md-6 element-item desserts">
                                    <div class="hotmeal-menu-list-text">
                                        <h5><a href="{% url 'profile:register_page' %}">Edit account</a></h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel pharetra
                                            odio. Donec sit amet varius massa.</p>
                                    </div>
                                </li>
                                <li class="col-md-6 element-item drinks">
                                    <div class="hotmeal-menu-list-text">
                                        <h5><a href="{% url 'order:cart_page' %}">Cart user</a></h5>
                                        <p>Donec porta magna eget leo molestie, tempus consectetur erat facilisis.
                                            Suspendisse justo ante, tempus at nulla eu, </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--// Main Section \\-->
    </div>
    <!--// Main Content \\-->

{% endblock %}