{% extends 'base/base.html' %}
{% block contents %}
    {% load static %}

    <!--// SubHeader \\-->
    <div class="hotmeal-subheader">
        <span class="hotmeal-subheader-transparent"></span>
        <div class="hotmeal-subheader-text">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <span>account</span>
                        <h1>account</h1>
                        <p>Sed vulputate elementum aliquam. Nunc vel efficitur ante. Ut gravida nulla id ornare
                            sodales.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="hotmeal-breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul>
                            <li><a href="index-2.html">Homepage</a></li>
                            <li class="active">account</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// SubHeader \\-->

    <!--// Main Content \\-->
    <div class="hotmeal-main-content">

        <!--// Main Section \\-->
        <div class="hotmeal-main-section hotmeal-breakfastfull">
            <div class="container">
                <div class="row">

                    <div class="col-md-12">
                        <div class="hotmeal-fancy-title">
                            <span>account</span>
                            <h2>account</h2>
                            <img src="{% static 'images/fancy-title-img.png' %}" alt="">
                        </div>
                        <div class="hotmeal-menu hotmeal-menu-list hotmeal-menu-filter hotmeal-breakfast-manu">
                            <ul class="row">
                                <li class="col-md-6 element-item desserts">
                                    <div class="hotmeal-menu-list-text">
                                        <h5><a href="{% url 'profile:register_page' %}">Edit account</a></h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel pharetra
                                            odio. Donec sit amet varius massa.</p>
                                    </div>
                                </li>
                                <li class="col-md-6 element-item drinks">
                                    <div class="hotmeal-menu-list-text">
                                        <h5><a href="menu-detail.html">Cart user</a></h5>
                                        <p>Donec porta magna eget leo molestie, tempus consectetur erat facilisis.
                                            Suspendisse justo ante, tempus at nulla eu, </p>
                                    </div>
                                </li>
                                <li class="col-md-6 element-item desserts">
                                    <div class="hotmeal-menu-list-text">
                                        <h5><a href="menu-detail.html">Heirloom Tomato Salad</a></h5>
                                        <span>$ 14.00</span>
                                        <p>Nulla vehicula mattis turpis ut cursus. Nunc in augue nec massa sollicitudin
                                            placerat. Proin porttitorac.</p>
                                    </div>
                                </li>
                                <li class="col-md-6 element-item beverage">
                                    <div class="hotmeal-menu-list-text">
                                        <h5><a href="menu-detail.html">Papaya Salad</a></h5>
                                        <span>$ 19.00</span>
                                        <p>Vestibulum posuere erat ullamcorper metus elementum feugiat maec enas finibus
                                            dignissim metus pulvinar pretium.</p>
                                    </div>
                                </li>
                                <li class="col-md-6 element-item drinks">
                                    <div class="hotmeal-menu-list-text">
                                        <h5><a href="menu-detail.html">Prosciutto & Shaved Pear Salad</a></h5>
                                        <span>$ 17.00</span>
                                        <p>Etiam rutrum odio id nunc rutrum fringilla quis non mi. Nam nibh nunc, cursus
                                            ac nunc egestas.</p>
                                    </div>
                                </li>
                                <li class="col-md-6 element-item beverage drinks">
                                    <div class="hotmeal-menu-list-text">
                                        <h5><a href="menu-detail.html">Wild Arugula Salad</a></h5>
                                        <span>$ 08.00</span>
                                        <p>Nullam cursus sapien et enim hendrerit congue. Suspendisse ac urna eget mi
                                            varius maximus at auctor risus.</p>
                                    </div>
                                </li>
                                <li class="col-md-6 element-item desserts">
                                    <div class="hotmeal-menu-list-text">
                                        <h5><a href="menu-detail.html">Tomato Coconut Soup</a></h5>
                                        <span>$ 09.99</span>
                                        <p>Suspendisse id elit ligula. Morbi elementum dignissim sagittis. Donec libero
                                            ligula, scelerisque at justo a, tempoaugue </p>
                                    </div>
                                </li>
                                <li class="col-md-6 element-item beverage">
                                    <div class="hotmeal-menu-list-text">
                                        <h5><a href="menu-detail.html">Italian Spaghetti</a></h5>
                                        <span>$ 12.00</span>
                                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
                                            turpis egestas. Fusce pulvinar porttitor</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--// Main Section \\-->
    </div>
    <!--// Main Content \\-->

{% endblock %}